<div class="navBar-controls">
	<ul>
      <li><button class="btn btn-sm btn-outline-primary" type="button"><i class="fas fa-step-backward"></i></button></li>
      <li><button class="btn btn-sm btn-outline-primary" type="button"><i class="fas fa-caret-left"></i></button></li>
      <li><button class="btn btn-sm btn-outline-primary" type="button"><i class="fas fa-caret-right"></i></button></li>
      <li><button class="btn btn-sm btn-outline-primary" type="button"><i class="fas fa-step-forward"></i></button></li>
	</ul>
</div>