<div class="navBar-controls">
	<div class="btn-group" role="group" aria-label="Basic example">
		<button class="btn btn-sm btn-outline-secondary" (click)="handleFirstPageClick()" type="button"><i class="fas fa-step-backward"></i></button>
      <button class="btn btn-sm btn-outline-secondary" (click)="handlePreviousClick()" type="button"><i class="fas fa-caret-left"></i></button>
      <button class="btn btn-sm btn-outline-secondary" (click)="handleNextClick()" type="button"><i class="fas fa-caret-right"></i></button>
      <button class="btn btn-sm btn-outline-secondary" (click)="handleLastPageClick()" type="button"><i class="fas fa-step-forward"></i></button>
  </div>
</div>