<main>
	<nav class="menu">
	</nav>

	<div class="viewerBody">
		<div class="sideBar">
			<ul>
				<li>
					<i class="fas fa-folder-plus"></i>
          </li>
      </ul>
		</div>
		<div class="sideBar-thumbNav">
			<ul>
				<li>
          <img src="https://via.placeholder.com/100x150"/>
				</li>
        <li>
          <img src="https://via.placeholder.com/100x150"/>
				</li>
        <li>
          <img src="https://via.placeholder.com/100x150"/>
				</li>
			</ul>
		</div>

		<div class="viewerWrapper">
			<app-viewer [files]="mockFiles"></app-viewer>
		</div>
	</div>
</main>